@media screen and (max-width:770px){
    
    .logo-container{
        min-width: 30%;
    }
    .nav-item-container{
        min-width: 70%;
        display: flex;
        justify-content: space-around;
    
    }


}

@media screen and (max-width:426px){
    .nav-container{
        flex-direction: column;
    }
    .nav-item-container{
        width: 100%;
        flex-direction: column;
    }
    .nav-item-container a{
        margin-top: 10px;
    }
  .button-item {
       width: 120%;
        }

    .banner-container{
    flex-direction: column-reverse;
    display: flex;
    justify-content: center;
    }
    .banner-content{
        width: 100%;
     
     
    }
    .banner-img img{
        width: 100px;
    }
    .banner-img{
        width: 100%;
    }


}